<hr>
<nav>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Carte</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Scanner</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Partie</a>
        </li>
    </ul>
</nav>
